section {

    h2 {
        @include color-size (5vw);
        font-family: map-get($family, h2);
        padding-left: 2%;
    }
    
    .retrato {
        
        .retrato__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(29, 29, 29, 0.6);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.25s;
            
            .retrato__description {
                font-size: 16px;
                margin-top: 0.25em;
                text-align: center;
            }
        }

        .retrato__overlay > * {
            transform: translateY(20px);
            transition: transform 0.25s;
        }
        
        .retrato__overlay:hover {
            opacity: 1;
        }
        
        .retrato__overlay:hover > * {
            transform: translateY(0);
        }
    
        .imgEquipo {
            width: 15vw;
            object-fit: cover;
            margin-bottom: 2%;
            display: block;
        }

        p {
            @include color-size (24px);
            font-family: map-get($family, p);
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
    }

    .animate__delay-1s,
    .animate__delay-2s,
    .animate__delay-3s {
        --animate-delay: 0.5s
    }
}

