@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Koulen&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 29, 29);
}

.index {
    background-image: url(../images/glitch.jpg);
}

.prod {
    background-image: url(../images/lamparita.jpg);
}

.rio {
    background-image: url(../images/riorabiosa4.jpg);
}

.tall {
    background-image: url(../images/festival-ferviente.jpg);
}

h1, h2, h3, p {
    color: $color-texto;
}