header {

    nav {
        display: flex;
        align-items: center;
        z-index: 10;

        a {
            .logo {
                height: $logo;
            }
        }

        ul {
            list-style: none;

            li {
                display: block;
                margin-right: 20px;
                font-size: map-get($sizes, li);
                font-family: map-get($family, li);

                .nav-link {
                    text-decoration: none;
                    color: $color-texto;

                    &:hover {
                        @extend .nav-link;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .navbar-toggler-icon {
        background-image: url(../images/hamburger.png);

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .navbar-toggler:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;

    section {
        padding-left: 2%;

        .animate__delay-1s,
        .animate__delay-2s,
        .animate__delay-3s {
         --animate-delay: 0.5s
    }

        h1 {
            @include color-size (11vw);
            display: flex;
            align-items: flex-end;
            font-family: map-get($family, h1);
        }

        h2 {
            @include color-size (5vw);
            font-family: map-get($family, h2);
            padding-left: 0%
        }

        p {
            @include color-size (24px);
            font-family: map-get($family, p);
            padding-right: 2%;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: map-get($family, f);
    font-size: map-get($sizes, footer);

    a {
        text-decoration: none;
        color: $color-texto;

        &:hover {
            text-decoration: underline;
            color: $color-texto;
        }
    }
}