/*variable*/

$color-texto: rgb(245, 240, 233);

/*mixin color y tamaño fuente*/

@mixin color-size ($size) {
    color: rgb(245, 240, 233);
    font-size: $size;
}

/*map font size*/

$sizes: (
    li: 40px,
    footer: 20px
);

/*map font family*/

$family: (
    li: ('Teko', sans-serif),
    h1: ('Koulen', cursive),
    h2: ('Teko', sans-serif),
    h3: ('Teko', sans-serif),
    p: ('Dosis', sans-serif),
    f: ('Teko', sans-serif),
);

/*medidas*/

$logo: 40px;